<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự án 1</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div id="wrapper" class="navbar">
        <div id="header">
            <a class="navbar-brand" href="index.html">Liquor <span>store</span></a>
            <ul id="menu">
                <div class="item">
                    <a href="#">Khuyến mại</a>
                </div>
                <div class="item">
                    <a href="#">Thực đơn</a>
                </div>
                <div class="item">
                    <a href="#">Theo dõi đơn hàng</a>
                </div>
                <div class="item">
                    <a href="contact.html">Liên hệ</a>
                </div>
            </ul>
            <div id="actions">
                <div class="item">
                    <a href="resgist.html">
                        <i class="ti-user cart"></i>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <i class="ti-shopping-cart cart"></i>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="./assets/img/SlideShow_1.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="./assets/img/SlideShow_2.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="./assets/img/SlideShow_3.avif" style="width:100%">
                </div>
                <!-- Nút điều khiển mũi tên-->
                <a class="prev ti-arrow-circle-left" onclick="plusSlides(-1)"></a>
                <a class="next ti-arrow-circle-right" onclick="plusSlides(1)"></a>
            </div>
            <br>
            <!-- Nút tròn điều khiển slideshow-->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <div id="wp-products">
            <h2>Món ngon phải thử </h2>
            <ul id="list-products">
                <div class="item">
                    <img class="product" src="assets/product_1.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_2.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_3.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_4.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_5.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_6.png" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_7.jpg" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_8.jpg" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_9.jpg" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>

                <div class="item">
                    <img class="product" src="assets/product_10.jpg" alt="">
                    <div class="name">Món Ăn 1</div>
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">500.000 VNĐ</div>
                </div>
            </ul>
        </div>
        
        <footer class="ftco-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget">
                            <h2 class="logo"><a href="#">Gà rán <span>FPoly</span></a></h2>
                            <p>Món gà được làm từ ba thằng con trai, không cùng quê nhưng chung một mái trường <i
                                class="ti-heart"></i></p>
                            <ul class="ftco-footer-social list-unstyled">
                                <li class="ftco-animate"><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="ti-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="ti-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget">
                            <h2>Tài khoản</h2>
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Tài khoản</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Đăng ký</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Đăng nhập</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Order</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget">
                            <h2>Thông tin</h2>
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Về chúng tôi</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Danh mục</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Liên hệ</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Điều kiện &amp; Thuật ngữ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget">
                            <h2>Hỗ trợ</h2>
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Người dùng mới</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Trung tâm trợ giúp</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Báo cáo</a></li>
                                <li><a href="#"><span class="ti-angle-right mr-2"></span>Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget">
                            <h2>Liên hệ trực tiếp</h2>
                            <div class="block-23">
                                <ul>
                                    <li><span class="icon ti-map"></span><span class="text">Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, 
                                        phường Phương Canh, quận Nam Từ Liêm, TP Hà Nội</span></li>
                                    <li><a href="tel:02485820808"><span class="icon ti-mobile"></span><span class="text">(024) 8582 0808</span></a></li>
                                    <li><a href="mailto:gmail.com"><span class="icon ti-email pr-4"></span><span
                                                class="text">garanfpoly@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: rgba(255,255,255,.5);">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> | This template is made with <i
                                    class="ti-heart"></i> by Group 7
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="script.js"></script>
</body>

</html>